.typer_summary_screen {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.typer_summary_screen_stats.blinking {
  color: blue;
  animation: blink 1s infinite alternate linear;
}

.typer_summary_screen_actions {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes blink {
  from {
    color: white;
  }
  to {
    color: transparent;
  }
}
