.keyboard_config_screen {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.keyboard_config_screen_hint {
  color: gray;
  margin: 0;
  font-size: 0.9rem;
}
