.keyboard_keys {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(10, 1fr);
  gap: 3px;
}

.keyboard_keys--editing {
  outline: 1px dashed #64ee6c;
  outline-offset: 4px;
  border-radius: 4px;
}
