.base-screen {
  width: 100%;
  height: 100%;
  max-width: 600px; /* Prevents stretching */

  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  transition: color 0.2s;
}
.correct {
  color: green;
  transition: color 0.2s;
}

.wrong {
  color: red;
  transition: color 0.2s;
}
