.header {
	width: 100%;
	max-width: 600px; /* Prevents stretching */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5em;
	border-radius: 8px;
	border: 1px solid #111111;
	transition: filter 1s;
	transition: background-color 0.5s;
	background-color: transparent;

	&:hover {
		cursor: pointer;
		background-color: #1a1a1a;
		filter: drop-shadow(0 0 2em #646cffaa);
		select {
			background-color: #1a1a1a;
		}
	}
}

span {
	width: 100%;
	text-align: start;
	font-size: 1em;
	font-weight: bold;
}

select {
	height: 100%;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em;
	background-color: inherit;
	cursor: pointer;
	transition: background-color 0.5s;
}
