footer {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-muted);
}

footer h5 {
  width: 100%;
  margin: 0;
  font-weight: normal;
}

footer h5:nth-child(1) {
  text-align: start;
}

footer h5:nth-child(2) {
  text-align: end;
}

footer a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

footer a:hover {
  color: var(--color-accent);
}
