:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--color-fg);
  background-color: var(--color-bg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

body,
input,
textarea,
option,
select,
button {
  font-family: var(--font-sans);
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
  transition: display 0.5s;
}

.visible {
  display: initial;
  transition: display 0.5s;
}
